.teampointspage{
    margin-top: 0;
    padding: 10px 0 0px 0;
    background: linear-gradient(90.21deg, rgba(21, 18, 97, 0.5) -5.91%, rgba(0, 34, 81, 0.5) 111.58%);
    height: 100vh;
  }

  .teampointspage .teampointscontainer{
    margin-top: 160px;
  margin-left: 10px 20px;
  margin-bottom: -160px;
  background: #d5c4c4;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  }

  .teampointspage .teampointscontainer .ant-breadcrumb-link{
    display: flex;
    justify-content: left;
    font-weight: bold;
    color: rgb(130, 5, 248);
    margin-bottom: -10px;
  }

  .teampointspage .teampointscontainer .breadcrumb .breadcrumbitem{
    display: flex;
    justify-content:start;
    justify-items:start;
    font-weight: bold;
    color: red;
  }

  .teampointspage .teampointscontainer .ant-modal {
    width: 690px;

    /* Center the modal horizontally */
    margin: 0 auto;

    /* Adjust the modal position */
    top: 100px; /* Adjust the top position as needed */
}