body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
  }
  
  .waiver-system {
    width: 100%;
    max-width: 500px;
    margin: 100px auto 0; /* Adjust the top margin to move the form down */
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .waiver-system h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .waiver-system h2 {
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .preference-section,
  .drop-section {
    margin-bottom: 20px;
  }
  
  .preference-input,
  .drop-input {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: white;
  }
  
  input[type="text"]::placeholder,
  select {
    color: #999;
  }
  
  .drop-input-container {
    display: flex;
    justify-content: space-between;
  }
  
  .drop-input {
    flex: 1;
    margin-right: 10px;
  }
  
  .drop-input:last-child {
    margin-right: 0;
  }
  /*
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }*/
  